<ion-app>
  <ion-menu side="start" menuId="m1" contentId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Ionic Playground
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle contentId="m1">
          <ion-item routerLink="/gallery">
            <ion-icon name="image-outline" slot="start"></ion-icon>
            <ion-label>Gallery Example</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="m1"></ion-router-outlet>
</ion-app>
